<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".twod.Selfie2DActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.OneStop" />
        <activity
            android:name=".trheed.Selfie3DIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.OneStop" />
        <activity
            android:name=".trheed.Selfie3DVerificationIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.OneStop" />
        <activity
            android:name=".state.SelfieStateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.OneStop" />
    </application>

</manifest>